langchain
langchain_community
psycopg2-binary
sqlalchemy
python-dotenv
langchain_openai
langchainhub
langgraph==0.2.69
openai
flask
termcolor
pymongo
pandas
gunicorn
matplotlib
firebase_functions~=0.1.0